n8n/SyncChat_AI_Flow.json
{
  "name": "SyncChat AI Flow",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "tags": [],
  "pinData": {},
  "nodes": [
    {
      "id": "4a62f50f-16e1-4103-b127-24aacfc5cdc2",
      "name": "SyncChat Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 112],
      "parameters": { "httpMethod": "POST", "path": "syncchat-whatsapp", "responseMode": "onReceived" },
      "webhookId": "e215449f-8908-4d96-88d9-b7147af2b370"
    },
    {
      "id": "cbfb1994-ad45-4390-bda5-590e50bf30d6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [800, 112],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "options": {
          "systemMessage": "=You are an automated WhatsApp assistant. Always identify as an automated assistant, never claim to be human.\n\n## Role\n{{ $json.body.flow.prompt_role }}\n\n## Guardrails\n{{ $json.body.flow.prompt_guardrails }}\n\n## Tone and Style\n{{ $json.body.flow.prompt_tone }}\n\n## Business Context\n{{ $json.body.flow.prompt_context }}\n\n## Tools\nYou may ONLY use the tools explicitly listed as enabled below. Never call a tool that is not listed. If none are listed, reply with text only.\nEnabled tools:\n{{ ($json.body.flow.prompt_tools || []).filter(t => t.enabled).map(t => '- ' + t.id).join('\\n') || '(none)' }}\n\n## Response\nReply with one concise WhatsApp message. Your final message is sent directly to the customer."
        }
      }
    },
    {
      "id": "d4b2e023-1eb0-4d74-8089-0337b8e62027",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [224, 336],
      "parameters": { "model": { "__rl": true, "mode": "list", "value": "gpt-5-mini" } }
    },
    {
      "id": "f2d80bcc-7cc9-4910-a7ab-038987d7d2e4",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [352, 336],
      "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ $('SyncChat Inbound').item.json.body.phone }}", "contextWindowLength": 10 }
    },
    {
      "id": "41e31749-5440-4a86-a05b-a6889165e8c3",
      "name": "website_check",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [480, 336],
      "parameters": { "method": "GET", "url": "={{ ($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'website_check') || { config: {} }).config.url }}", "optimizeResponse": true, "responseType": "html", "onlyContent": true, "truncateResponse": true, "maxLength": 2000 }
    },
    {
      "id": "03945676-f127-4c17-9bae-1390abe5da85",
      "name": "custom_webhook",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [608, 336],
      "parameters": { "method": "POST", "url": "={{ ($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'custom_webhook') || { config: {} }).config.url }}", "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "={{ 'Bearer ' + (($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'custom_webhook') || { config: {} }).config.secret || '') }}" }] }, "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "query", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', 'What to ask or send to the external system') }}" }, { "name": "phone", "value": "={{ $('SyncChat Inbound').item.json.body.phone }}" }] } }
    },
    {
      "id": "da2d98e9-807c-4d89-b6de-777b98f7c4e6",
      "name": "order_lookup",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [736, 336],
      "parameters": { "method": "GET", "url": "={{ ($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'order_lookup') || { config: {} }).config.endpoint }}", "sendQuery": true, "specifyQuery": "keypair", "queryParameters": { "parameters": [{ "name": "q", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_query', 'Order ID or customer phone number to look up') }}" }] }, "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "={{ 'Bearer ' + (($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'order_lookup') || { config: {} }).config.secret || '') }}" }] } }
    },
    {
      "id": "b426fb74-7403-44f9-a356-b5ad616818a8",
      "name": "inventory_check",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [864, 336],
      "parameters": { "method": "GET", "url": "={{ ($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'inventory_check') || { config: {} }).config.endpoint }}", "sendQuery": true, "specifyQuery": "keypair", "queryParameters": { "parameters": [{ "name": "q", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_query', 'Product name or SKU to check stock for') }}" }] }, "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "={{ 'Bearer ' + (($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'inventory_check') || { config: {} }).config.secret || '') }}" }] } }
    },
    {
      "id": "a080975a-b628-4f45-a676-7d569553aaad",
      "name": "booking_calendar",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [992, 336],
      "parameters": { "method": "POST", "url": "={{ ($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'booking_calendar') || { config: {} }).config.endpoint }}", "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "={{ 'Bearer ' + (($('SyncChat Inbound').item.json.body.flow.prompt_tools.find(t => t.id === 'booking_calendar') || { config: {} }).config.secret || '') }}" }] }, "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "name", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', 'Name of the person the booking is for') }}" }, { "name": "datetime", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datetime', 'Requested date and time for the booking, ISO 8601') }}" }, { "name": "service", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service', 'The service or appointment type requested') }}" }, { "name": "phone", "value": "={{ $('SyncChat Inbound').item.json.body.phone }}" }] } }
    },
    {
      "id": "ab1f43c9-484b-4413-8259-466a320d2900",
      "name": "contact_crm",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1120, 336],
      "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "contact_crm" }, { "name": "org_id", "value": "={{ $('SyncChat Inbound').item.json.body.org_id }}" }, { "name": "phone", "value": "={{ $('SyncChat Inbound').item.json.body.phone }}" }, { "name": "action", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('action', 'Either \"get\" to read the contact or \"update\" to change fields') }}" }, { "name": "fields", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fields', 'JSON object of fields to update, e.g. {\"name\":\"Jane\",\"email\":\"j@x.com\",\"tags\":[\"vip\"]}') }}" }] } }
    },
    {
      "id": "37a07af0-02ce-4b85-87f7-654e82a04ace",
      "name": "escalate_human",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1248, 336],
      "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "escalate_human" }, { "name": "org_id", "value": "={{ $('SyncChat Inbound').item.json.body.org_id }}" }, { "name": "conversation_id", "value": "={{ $('SyncChat Inbound').item.json.body.conversation_id }}" }, { "name": "reason", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', 'Short reason the conversation needs a human agent') }}" }] } }
    },
    {
      "id": "5e40bd87-6bf9-45d7-9d1e-a779fc0bca2b",
      "name": "send_template",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1376, 336],
      "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "send_template" }, { "name": "org_id", "value": "={{ $('SyncChat Inbound').item.json.body.org_id }}" }, { "name": "instance_id", "value": "={{ $('SyncChat Inbound').item.json.body.instance_id }}" }, { "name": "conversation_id", "value": "={{ $('SyncChat Inbound').item.json.body.conversation_id }}" }, { "name": "phone", "value": "={{ $('SyncChat Inbound').item.json.body.phone }}" }, { "name": "template_name", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('template_name', 'Name of the saved message template to send') }}" }, { "name": "variables", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('variables', 'JSON object of template variable values, e.g. {\"name\":\"Jane\"}') }}" }] } }
    },
    {
      "id": "ebbbb8ba-7465-4291-b116-0f7e823c42f1",
      "name": "send_media",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1504, 336],
      "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "send_media" }, { "name": "org_id", "value": "={{ $('SyncChat Inbound').item.json.body.org_id }}" }, { "name": "instance_id", "value": "={{ $('SyncChat Inbound').item.json.body.instance_id }}" }, { "name": "conversation_id", "value": "={{ $('SyncChat Inbound').item.json.body.conversation_id }}" }, { "name": "phone", "value": "={{ $('SyncChat Inbound').item.json.body.phone }}" }, { "name": "media_url", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('media_url', 'Public URL of the image or document to send') }}" }, { "name": "type", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('media_type', 'One of: image, document, video, audio') }}" }, { "name": "caption", "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('caption', 'Optional caption text for the media') }}" }] } }
    },
    {
      "id": "c78ab121-1c61-4405-96a0-c4c06f6daf23",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1712, 112],
      "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "send_text" }, { "name": "org_id", "value": "={{ $('SyncChat Inbound').item.json.body.org_id }}" }, { "name": "instance_id", "value": "={{ $('SyncChat Inbound').item.json.body.instance_id }}" }, { "name": "conversation_id", "value": "={{ $('SyncChat Inbound').item.json.body.conversation_id }}" }, { "name": "phone", "value": "={{ $('SyncChat Inbound').item.json.body.phone }}" }, { "name": "body", "value": "={{ $json.output }}" }] } }
    },
    {
      "id": "364de798-81da-42b2-a434-131aaa77a3eb",
      "name": "Sticky Note 8cb84e7d",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [864, 384],
      "parameters": { "content": "## SyncChat AI Flow\nInbound message is forwarded by SyncChat with the flow prompt and enabled tools. All 9 tools are wired; the system message lists only the enabled ones (prompt gating). Data-backed tools call /api/n8n/tools with the SyncChat shared secret.", "color": 4, "width": 1060, "height": 200 }
    }
  ],
  "connections": {
    "SyncChat Inbound": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Conversation Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "website_check": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "custom_webhook": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "order_lookup": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "inventory_check": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "booking_calendar": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "contact_crm": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "escalate_human": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "send_template": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "send_media": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] }
  }
}
