n8n/SyncChat_Group1.json
{
  "name": "SyncChat_Group1",
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "meta": { "aiBuilderAssisted": true, "builderVariant": "mcp" },
  "tags": [],
  "pinData": {},
  "nodes": [
    { "id": "e6809e32-036e-420f-ae27-5136f7c0dc2b", "name": "Whatsapp", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 128], "parameters": { "httpMethod": "POST", "path": "ca7623a1-8b07-4c9c-884a-691a1d02b75e", "options": {} }, "webhookId": "ca7623a1-8b07-4c9c-884a-691a1d02b75e" },
    { "id": "bf3cc7e7-2b8f-45ee-a480-b0d66ec0ada8", "name": "Get a row", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [224, 128], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "get", "tableId": "whatsapp_instances", "filters": { "conditions": [{ "keyName": "phone_number", "keyValue": "={{ '+' + $json.body.data.to.replace('@c.us', '') }}" }] } } },
    { "id": "3c00aa50-0ae2-4dd3-8d04-7b5c634d28e8", "name": "Get a row1", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [448, 128], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "get", "tableId": "whatsapp_instances", "filters": { "conditions": [{ "keyName": "instance_id", "keyValue": "={{ $json.instance_id }}" }] } } },
    { "id": "f03bdadc-5991-4ca5-a80d-99e425e57d56", "name": "Get a row2", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [672, 128], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "get", "tableId": "n8n_flows", "filters": { "conditions": [{ "keyName": "instance_id", "keyValue": "={{ $json.id }}" }] } } },
    { "id": "cd385072-c943-48cf-adde-b3330f34b47e", "name": "AI Agent", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [1472, 128], "parameters": { "promptType": "define", "text": "={{ $('Whatsapp').first().json.body.data.body }}", "options": { "systemMessage": "={{ $json.prompt_role }}\n\n{{ $json.prompt_guardrails }}\n\n{{ $json.prompt_tone }}\n\n{{ $json.prompt_context }}\n\n## Tools you may use\nOnly use the tools listed here as enabled. Never call a tool that is not listed.\n{{ (Array.isArray($json.prompt_tools) ? $json.prompt_tools : []).filter(t => t.enabled).map(t => '- ' + t.id).join('\\n') || '(none)' }}" } } },
    { "id": "f84587d4-e1c4-4f19-913a-03193cd49a8e", "name": "OpenAI Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.2, "position": [896, 352], "parameters": { "model": { "__rl": true, "mode": "list", "value": "gpt-4.1-mini" }, "options": {} }, "credentials": { "openAiApi": { "id": "REzLR7ZhbkQEyp1C", "name": "OpenAi account" } } },
    { "id": "f3228481-91e4-44e1-b430-27072c93982a", "name": "Simple Memory", "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [1024, 352], "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ $('Whatsapp').first().json.body.data.from }}", "contextWindowLength": 20 } },
    { "id": "d28283fc-6265-48f3-a556-64a476e96711", "name": "website_check", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [1152, 352], "parameters": { "method": "GET", "url": "={{ (Array.isArray($('Get a row2').first().json.prompt_tools) ? $('Get a row2').first().json.prompt_tools : []).find(t => t.id === 'website_check')?.config?.url }}", "optimizeResponse": true, "responseType": "html", "onlyContent": true, "truncateResponse": true, "maxLength": 2000 } },
    { "id": "5297fac2-0a46-4a07-a7a8-177f517962a8", "name": "custom_webhook", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [1280, 352], "parameters": { "method": "POST", "url": "={{ (Array.isArray($('Get a row2').first().json.prompt_tools) ? $('Get a row2').first().json.prompt_tools : []).find(t => t.id === 'custom_webhook')?.config?.url }}", "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "={{ 'Bearer ' + ((Array.isArray($('Get a row2').first().json.prompt_tools) ? $('Get a row2').first().json.prompt_tools : []).find(t => t.id === 'custom_webhook')?.config?.secret || '') }}" }] }, "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "query", "value": "={{ $fromAI('query', 'What to ask or send to the external system') }}" }, { "name": "phone", "value": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }] } } },
    { "id": "c0a48bfb-174b-423b-acdd-b012063333b8", "name": "order_lookup", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [1408, 352], "parameters": { "method": "GET", "url": "={{ (Array.isArray($('Get a row2').first().json.prompt_tools) ? $('Get a row2').first().json.prompt_tools : []).find(t => t.id === 'order_lookup')?.config?.endpoint }}", "sendQuery": true, "specifyQuery": "keypair", "queryParameters": { "parameters": [{ "name": "q", "value": "={{ $fromAI('order_query', 'Order ID or customer phone number to look up') }}" }] } } },
    { "id": "ddd0e3e2-bf19-4322-bd81-24a52aace9eb", "name": "inventory_check", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [1536, 352], "parameters": { "method": "GET", "url": "={{ (Array.isArray($('Get a row2').first().json.prompt_tools) ? $('Get a row2').first().json.prompt_tools : []).find(t => t.id === 'inventory_check')?.config?.endpoint }}", "sendQuery": true, "specifyQuery": "keypair", "queryParameters": { "parameters": [{ "name": "q", "value": "={{ $fromAI('product_query', 'Product name or SKU to check stock for') }}" }] } } },
    { "id": "f88ddc94-c46c-4c23-8270-1072a9fc7415", "name": "booking_calendar", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [1664, 352], "parameters": { "method": "POST", "url": "={{ (Array.isArray($('Get a row2').first().json.prompt_tools) ? $('Get a row2').first().json.prompt_tools : []).find(t => t.id === 'booking_calendar')?.config?.endpoint }}", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "name", "value": "={{ $fromAI('customer_name', 'Name of the person the booking is for') }}" }, { "name": "datetime", "value": "={{ $fromAI('datetime', 'Requested date and time, ISO 8601') }}" }, { "name": "service", "value": "={{ $fromAI('service', 'The service or appointment type requested') }}" }, { "name": "phone", "value": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }] } } },
    { "id": "8a0897f5-4055-4ee3-b03e-30b8d2471a5c", "name": "contact_crm", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [1792, 352], "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "contact_crm" }, { "name": "org_id", "value": "={{ $('Get a row').first().json.org_id }}" }, { "name": "phone", "value": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }, { "name": "action", "value": "={{ $fromAI('action', 'Either get to read the contact or update to change fields') }}" }, { "name": "fields", "value": "={{ $fromAI('fields', 'JSON object of fields to update') }}" }] } } },
    { "id": "93ec65da-9dfb-46b4-9c2e-f24619044da5", "name": "escalate_human", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [1920, 352], "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "escalate_human" }, { "name": "org_id", "value": "={{ $('Get a row').first().json.org_id }}" }, { "name": "phone", "value": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }, { "name": "reason", "value": "={{ $fromAI('reason', 'Short reason the conversation needs a human agent') }}" }] } } },
    { "id": "449aab9e-7eb8-4db0-affc-4379b1c12f7c", "name": "send_template", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [2048, 352], "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "send_template" }, { "name": "org_id", "value": "={{ $('Get a row').first().json.org_id }}" }, { "name": "instance_id", "value": "={{ $('Get a row').first().json.id }}" }, { "name": "phone", "value": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }, { "name": "template_name", "value": "={{ $fromAI('template_name', 'Name of the saved message template to send') }}" }, { "name": "variables", "value": "={{ $fromAI('variables', 'JSON object of template variable values') }}" }] } } },
    { "id": "3dc2c51c-8b74-4dda-822f-edf9a46d318f", "name": "send_media", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.4, "position": [2176, 352], "parameters": { "method": "POST", "url": "https://syncchat.vercel.app/api/n8n/tools", "sendBody": true, "contentType": "json", "specifyBody": "keypair", "bodyParameters": { "parameters": [{ "name": "tool", "value": "send_media" }, { "name": "org_id", "value": "={{ $('Get a row').first().json.org_id }}" }, { "name": "instance_id", "value": "={{ $('Get a row').first().json.id }}" }, { "name": "phone", "value": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }, { "name": "media_url", "value": "={{ $fromAI('media_url', 'Public URL of the image or document to send') }}" }, { "name": "type", "value": "={{ $fromAI('media_type', 'One of: image, document, audio') }}" }, { "name": "caption", "value": "={{ $fromAI('caption', 'Optional caption text for the media') }}" }] } } },
    { "id": "8485c2e8-da04-47b0-91c7-b93eda23b063", "name": "Ultra MSG", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [2384, 128], "parameters": { "method": "POST", "url": "https://api.ultramsg.com/instance152477/messages/chat", "sendBody": true, "bodyParameters": { "parameters": [{ "name": "token", "value": "yf1kyabna52a6wzb" }, { "name": "to", "value": "={{ $('Whatsapp').first().json.body.data.from }}" }, { "name": "body", "value": "={{ $json.output }}" }] }, "options": {} } },
    { "id": "591c1b9f-f97c-4801-9fff-6790ce08f840", "name": "Get a row3", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2608, 128], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "get", "tableId": "contacts", "filters": { "conditions": [{ "keyName": "phone", "keyValue": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }, { "keyName": "org_id", "keyValue": "={{ $('Get a row').first().json.org_id }}" }] } }, "alwaysOutputData": true },
    { "id": "511529a3-50af-4ccc-b4a5-120da1030490", "name": "If", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [2832, 48], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "4a461602-09f0-4dc7-a4a0-48b74e00011a", "leftValue": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}", "rightValue": "={{ $json.phone }}", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "options": {} } },
    { "id": "2087c1ad-25e1-4f96-b422-d3616d86700b", "name": "Get many rows", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [3056, 0], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "getAll", "tableId": "conversations", "filterType": "manual", "matchType": "allFilters", "filters": { "conditions": [{ "keyName": "contact_id", "condition": "eq", "keyValue": "={{ $('Get a row3').first().json.id }}" }, { "keyName": "last_message_at", "condition": "gt", "keyValue": "={{ new Date(Date.now() - 24*60*60*1000).toISOString() }}" }] } }, "alwaysOutputData": true },
    { "id": "32381647-3409-42ae-af54-3e2993f71085", "name": "Code in JavaScript", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3280, 0], "parameters": { "mode": "runOnceForAllItems", "jsCode": "const id = $input.first().json.id;\nif (id) {\n  return [{ json: { ...$input.first().json, _hasConversation: true } }];\n} else {\n  return [{ json: { _hasConversation: false } }];\n}" } },
    { "id": "2fd71dfc-44ca-413d-b734-2c7142facb8d", "name": "If1", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [3504, 0], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "0d703a59-9a32-4a4a-9318-2e8219723bbb", "leftValue": "={{ $json._hasConversation }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }], "combinator": "and" }, "options": {} } },
    { "id": "9608f1ac-1605-49bc-872d-6fdabde15227", "name": "Update a row", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [3952, 0], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "update", "tableId": "conversations", "filterType": "manual", "matchType": "allFilters", "filters": { "conditions": [{ "keyName": "contact_id", "condition": "eq", "keyValue": "={{ $('Get a row3').first().json.id }}" }, { "keyName": "last_message_at", "condition": "gt", "keyValue": "={{ new Date(Date.now() - 24*60*60*1000).toISOString() }}" }] }, "fieldsUi": { "fieldValues": [{ "fieldId": "last_message_at", "fieldValue": "={{ new Date().toISOString() }}" }] } }, "alwaysOutputData": true },
    { "id": "10c0741c-2c13-4926-9966-c090003112b4", "name": "Insert user chat", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [4176, 0], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "create", "tableId": "messages", "fieldsUi": { "fieldValues": [{ "fieldId": "conversation_id", "fieldValue": "={{ $json.id }}" }, { "fieldId": "org_id", "fieldValue": "={{ $('Get a row').first().json.org_id }}" }, { "fieldId": "direction", "fieldValue": "inbound" }, { "fieldId": "type", "fieldValue": "={{ $('Whatsapp').first().json.body.data.type === 'chat' ? 'text' : $('Whatsapp').first().json.body.data.type }}" }, { "fieldId": "content", "fieldValue": "={{ $('Whatsapp').first().json.body.data.body }}" }, { "fieldId": "media_url", "fieldValue": "={{ $('Whatsapp').first().json.body.data.media }}" }, { "fieldId": "status", "fieldValue": "delivered" }, { "fieldId": "ultramsg_id", "fieldValue": "={{ $('Whatsapp').first().json.body.data.id }}" }] } } },
    { "id": "155b92fe-a8fa-4d86-abc3-0d4e56713df2", "name": "Insert AI chat", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [4400, 0], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "create", "tableId": "messages", "fieldsUi": { "fieldValues": [{ "fieldId": "conversation_id", "fieldValue": "={{ $('Update a row').first().json.id }}" }, { "fieldId": "org_id", "fieldValue": "={{ $('Get a row').first().json.org_id }}" }, { "fieldId": "direction", "fieldValue": "outbound" }, { "fieldId": "type", "fieldValue": "ai" }, { "fieldId": "content", "fieldValue": "={{ $('AI Agent').first().json.output }}" }, { "fieldId": "status", "fieldValue": "delivered" }] } } },
    { "id": "f00bb8fa-804c-461e-974d-cbb71053ac1c", "name": "Create a row1", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [3728, 80], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "create", "tableId": "conversations", "fieldsUi": { "fieldValues": [{ "fieldId": "org_id", "fieldValue": "={{ $('Get a row1').first().json.org_id }}" }, { "fieldId": "instance_id", "fieldValue": "={{ $('Get a row2').first().json.instance_id }}" }, { "fieldId": "contact_id", "fieldValue": "={{ $('Get a row3').first().json.id }}" }, { "fieldId": "status", "fieldValue": "open" }, { "fieldId": "last_message_at", "fieldValue": "={{ new Date().toISOString() }}" }] } } },
    { "id": "c7b3fc42-f200-4026-9de8-7d503cd2e3ea", "name": "Create a row", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [3056, 224], "parameters": { "useCustomSchema": true, "schema": "syncchat", "resource": "row", "operation": "create", "tableId": "contacts", "fieldsUi": { "fieldValues": [{ "fieldId": "org_id", "fieldValue": "={{ $('Get a row').first().json.org_id }}" }, { "fieldId": "phone", "fieldValue": "={{ $('Whatsapp').first().json.body.data.from.replace('@c.us', '') }}" }, { "fieldId": "name", "fieldValue": "={{ $('Whatsapp').first().json.body.data.pushname }}" }] } } }
  ],
  "connections": {
    "Whatsapp": { "main": [[{ "node": "Get a row", "type": "main", "index": 0 }]] },
    "Get a row": { "main": [[{ "node": "Get a row1", "type": "main", "index": 0 }]] },
    "Get a row1": { "main": [[{ "node": "Get a row2", "type": "main", "index": 0 }]] },
    "Get a row2": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Ultra MSG", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Simple Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "website_check": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "custom_webhook": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "order_lookup": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "inventory_check": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "booking_calendar": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "contact_crm": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "escalate_human": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "send_template": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "send_media": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Ultra MSG": { "main": [[{ "node": "Get a row3", "type": "main", "index": 0 }]] },
    "Get a row3": { "main": [[{ "node": "If", "type": "main", "index": 0 }]] },
    "If": { "main": [[{ "node": "Get many rows", "type": "main", "index": 0 }], [{ "node": "Create a row", "type": "main", "index": 0 }]] },
    "Get many rows": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "If1", "type": "main", "index": 0 }]] },
    "If1": { "main": [[{ "node": "Update a row", "type": "main", "index": 0 }], [{ "node": "Create a row1", "type": "main", "index": 0 }]] },
    "Update a row": { "main": [[{ "node": "Insert user chat", "type": "main", "index": 0 }]] },
    "Insert user chat": { "main": [[{ "node": "Insert AI chat", "type": "main", "index": 0 }]] },
    "Create a row1": { "main": [[{ "node": "Update a row", "type": "main", "index": 0 }]] },
    "Create a row": { "main": [[{ "node": "Get a row3", "type": "main", "index": 0 }]] }
  }
}
